.presentation {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  transition: 300ms;
  padding-bottom: 43px;
  border-radius: 25px;
  border: 1px solid grey;

  canvas, video {
    transform-origin: center center;
    border: 1px solid grey;
  }

  &__container {
    width: 100%;
    height: calc(100% - 43px);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.app_dark .presentation .presentation__palette-grid {
  color: white;
}